In [60]:
import pandas as pd 
import numpy as np 
credits=pd.read_csv('/Users/parisahojjatnia/Documents/Python/Capstone_Project2/Movie_Data/tmdb_5000_credits.csv')
movies=pd.read_csv('/Users/parisahojjatnia/Documents/Python/Capstone_Project2/Movie_Data/tmdb_5000_movies.csv')

In [2]:
credits.columns = ['id','tittle','cast','crew']
movies= movies.merge(credits,on='id')

In [3]:
movies['overview'].head(5)

0    In the 22nd century, a paraplegic Marine is di...
1    Captain Barbossa, long believed to be dead, ha...
2    A cryptic message from Bond’s past sends him o...
3    Following the death of District Attorney Harve...
4    John Carter is a war-weary, former military ca...
Name: overview, dtype: object

In [4]:
#Import TfIdfVectorizer from scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')

#Replace NaN with an empty string
movies['overview'] = movies['overview'].fillna('')

#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(movies['overview'])

#Output the shape of tfidf_matrix
tfidf_matrix.shape

(4803, 20978)

In [5]:
# Import linear_kernel
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [6]:
#Construct a reverse map of indices and movie titles
indices = pd.Series(movies.index, index=movies['title']).drop_duplicates()

In [7]:
# Function that takes in movie title as input and outputs most similar movies
def get_recommendations(title, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return movies['title'].iloc[movie_indices]

In [8]:
get_recommendations('The Dark Knight Rises')

65                              The Dark Knight
299                              Batman Forever
428                              Batman Returns
1359                                     Batman
3854    Batman: The Dark Knight Returns, Part 2
119                               Batman Begins
2507                                  Slow Burn
9            Batman v Superman: Dawn of Justice
1181                                        JFK
210                              Batman & Robin
Name: title, dtype: object

In [17]:

ratings=pd.read_csv('/Users/parisahojjatnia/Documents/Python/Capstone_Project2/Movie_Data/ratings_small.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [74]:
movies=pd.read_csv('/Users/parisahojjatnia/Documents/Python/Capstone_Project2/Movie_Data/movies_metadata.csv')

/Users/parisahojjatnia/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [80]:
movies=movies.rename(columns={'id':'movieId'})

In [81]:
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,movieId,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [137]:
def replace_name(x):
    return movies[movies['movieId']==x].title.values[10]

In [139]:
replace_name

In [ ]:
movies[movies['movieId']=='862'].title
ratings.movieId = map(replace_name,ratings.movieId)

In [122]:
ratings.head()

   userId                         movieId  rating   timestamp
0       1  <map object at 0x7fbd6c0f9f50>     2.5  1260759144
1       1  <map object at 0x7fbd6c0f9f50>     3.0  1260759179
2       1  <map object at 0x7fbd6c0f9f50>     3.0  1260759182
3       1  <map object at 0x7fbd6c0f9f50>     2.0  1260759185
4       1  <map object at 0x7fbd6c0f9f50>     4.0  1260759205

In [102]:
M=ratings.pivot_table(index=['userId'],columns=['movieId'],values=['rating'])

In [87]:
M.shape

(671, 6309)

In [88]:
M

                rating                                              \
movieId 'night, Mother ...All the Marbles ...And God Created Woman
userId
1                  NaN                NaN                      NaN
2                  NaN                NaN                      NaN
3                  NaN                NaN                      NaN
4                  NaN                NaN                      NaN
5                  NaN                NaN                      NaN
...                ...                ...                      ...
667                NaN                NaN                      NaN
668                NaN                NaN                      NaN
669                NaN                NaN                      NaN
670                NaN                NaN                      NaN
671                NaN                NaN                      NaN

                                                                         \
movieId ...And Justice for All  10 10 Things I Hate About You 100 Girls
userId
1                          NaN NaN                        NaN       NaN
2                          NaN NaN                        NaN       NaN
3                          NaN NaN                        NaN       NaN
4                          NaN NaN                        NaN       NaN
5                          NaN NaN                        NaN       NaN
...                        ...  ..                        ...       ...
667                        NaN NaN                        NaN       NaN
668                        NaN NaN                        NaN       NaN
669                        NaN NaN                        NaN       NaN
670                        NaN NaN                        NaN       NaN
671                        NaN NaN                        NaN       NaN

                                                          ...           \
movieId 1000 Journals 1000 To 1 11'09''01 - September 11  ... eXistenZ
userId                                                    ...
1                 NaN       NaN                      NaN  ...      NaN
2                 NaN       NaN                      NaN  ...      NaN
3                 NaN       NaN                      NaN  ...      NaN
4                 NaN       NaN                      NaN  ...      NaN
5                 NaN       NaN                      NaN  ...      NaN
...               ...       ...                      ...  ...      ...
667               NaN       NaN                      NaN  ...      NaN
668               NaN       NaN                      NaN  ...      NaN
669               NaN       NaN                      NaN  ...      NaN
670               NaN       NaN                      NaN  ...      NaN
671               NaN       NaN                      NaN  ...      NaN

                                                                     \
movieId ivans xtc. small roads xXx ¡Three Amigos! Μαριχουάνα Στοπ !
userId
1              NaN         NaN NaN            NaN               NaN
2              NaN         NaN NaN            NaN               NaN
3              NaN         NaN NaN            NaN               NaN
4              NaN         NaN NaN            NaN               NaN
5              NaN         NaN NaN            NaN               NaN
...            ...         ...  ..            ...               ...
667            NaN         NaN NaN            NaN               NaN
668            NaN         NaN NaN            NaN               NaN
669            NaN         NaN NaN            NaN               NaN
670            NaN         NaN NaN            NaN               NaN
671            NaN         NaN NaN            NaN               NaN


movieId Νόμος 4000 Гонгофер Юленька ’Round Midnight
userId
1              NaN      NaN     NaN             NaN
2              NaN      NaN     NaN             NaN
3              NaN      NaN     NaN             NaN
4              NaN      NaN     NaN             NaN
5              NaN      NaN     NaN             NaN
...            ...      ...     ...             ...
667            NaN      NaN     NaN             NaN
668            NaN      NaN     NaN             NaN
669            NaN      NaN     NaN             NaN
670            NaN      NaN     NaN             NaN
671            NaN      NaN     NaN             NaN

[671 rows x 6309 columns]

In [89]:
def pearson(s1,s2):
    #take two pd series objects and return a pearson correlation
    s1_c=s1-s1.mean()
    s2_c=s2-s2.mean()
    return np.sum(s1_c*s2_c)/np.sqrt(np.sum(s1_c**2)*np.sum(s2_c**2))

In [93]:
M['Romeo + Juliet']

KeyError: 'Romeo + Juliet'